#js-showing{
  display: none;
}
.click{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#operator-showing{
  display: none;
}
.click-2{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#variable-showing{
  display: none;
}
.click-3{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#convention-showing{
  display: none;
}
.click-4{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#function-showing{
  display: none;
}
.click-5{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#method-showing{
  display: none;
}
.click-6{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#arguement-showing{
  display: none;
}
.click-7{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#parameters-showing{
  display: none;
}
.click-8{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#return-showing{
  display: none;
}
.click-9{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}

#chain-showing{
  display: none;
}
.click-10{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#strings-showing{
  display: none;
}
.click-11{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}
#chain-showing{
  display: none;
}
.click-11{
  text-decoration: underline;
  color: aquamarine;
}
.card{
  height: 70px;
  
}